n8n-simple-workflow.json
{
  "name": "Simple ImageMagick Upload Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "simple-upload",
        "options": {
          "noResponseBody": false
        }
      },
      "id": "webhook-upload",
      "name": "Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "simple-upload-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract uploaded file and parameters\nconst body = $input.all()[0].body;\nconst files = $input.all()[0].binary;\n\n// Default parameters\nconst action = body.action || 'resize';\nconst resizePercentage = body.resize_percentage || '50';\nconst quality = body.quality || '85';\n\n// Check if file exists\nif (!files || Object.keys(files).length === 0) {\n  throw new Error('No file uploaded');\n}\n\n// Get first file\nconst fileKey = Object.keys(files)[0];\nconst file = files[fileKey];\n\nreturn {\n  json: {\n    action: action,\n    resize_percentage: resizePercentage,\n    quality: quality,\n    filename: file.fileName || 'uploaded-image'\n  },\n  binary: {\n    image: file\n  }\n};"
      },
      "id": "extract-data",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/process",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "ZWIHZc5e-SWR-XdIPykAZ3K6PncdnwBxa9VlZ9yuZ3M"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "={{ $json.action }}"
            },
            {
              "name": "resize_percentage",
              "value": "={{ $json.resize_percentage }}"
            },
            {
              "name": "quality",
              "value": "={{ $json.quality }}"
            },
            {
              "name": "image",
              "value": "",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "image"
            }
          ]
        },
        "options": {}
      },
      "id": "api-request",
      "name": "Call ImageMagick API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [720, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Upload Webhook": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Call ImageMagick API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call ImageMagick API": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T12:00:00.000Z",
  "versionId": "1"
}
