n8n-webhook-processing.json
{
  "name": "ImageMagick Webhook Processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-image",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Image Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "process-image-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract uploaded file from webhook\nconst files = $input.all()[0].binary;\n\nif (!files || !files.data) {\n  throw new Error('No file uploaded. Please upload an image file.');\n}\n\n// Get the first uploaded file\nconst fileKey = Object.keys(files)[0];\nconst file = files[fileKey];\n\nreturn {\n  json: {\n    message: 'File received successfully',\n    filename: file.fileName || 'uploaded-image',\n    mimeType: file.mimeType\n  },\n  binary: {\n    image: file\n  }\n};"
      },
      "id": "extract-file-node",
      "name": "Extract File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/process",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "ZWIHZc5e-SWR-XdIPykAZ3K6PncdnwBxa9VlZ9yuZ3M"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "resize"
            },
            {
              "name": "resize_percentage",
              "value": "50"
            },
            {
              "name": "image",
              "value": "",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "image"
            }
          ]
        },
        "options": {}
      },
      "id": "process-image-node",
      "name": "Process Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process the API response\nconst response = items[0].json;\n\nif (response.success) {\n  // Decode base64 image\n  const imageData = response.data.image;\n  const buffer = Buffer.from(imageData, 'base64');\n  \n  return [\n    {\n      json: {\n        message: 'Image processed successfully',\n        processingTime: response.data.processing_time_seconds,\n        action: response.data.action,\n        originalFormat: response.data.format,\n        downloadUrl: `http://localhost:5000/api/download/${response.data.filename}`\n      },\n      binary: {\n        processedImage: {\n          data: buffer,\n          mimeType: `image/${response.data.format}`,\n          fileName: `processed_${response.metadata.filename}`\n        }\n      }\n    }\n  ];\n} else {\n  throw new Error('Image processing failed: ' + (response.error || 'Unknown error'));\n}"
      },
      "id": "process-response-node",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Image Upload Webhook": {
      "main": [
        [
          {
            "node": "Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract File": {
      "main": [
        [
          {
            "node": "Process Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Image": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T12:00:00.000Z",
  "versionId": "1"
}
