n8n_working_workflow.json
{
  "name": "ImageMagick API - Working Version",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-node",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [300, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:5000/health",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "ZWIHZc5e-SWR-XdIPykAZ3K6PncdnwBxa9VlZ9yuZ3M"
            }
          ]
        },
        "options": {}
      },
      "id": "health-check",
      "name": "API Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/process-default",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "ZWIHZc5e-SWR-XdIPykAZ3K6PncdnwBxa9VlZ9yuZ3M"
            },
            {
              "name": "Content-Type", 
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "default_image": "Capture.PNG",
          "text": "Hello from n8n!",
          "text_position": "Center",
          "text_size": "120",
          "text_color": "white",
          "text_font": "Arial"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "process-image",
      "name": "Process Default Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $node['Process Default Image'].json?.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check If Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [740, 500]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-1",
              "name": "status",
              "value": "SUCCESS",
              "type": "string"
            },
            {
              "id": "success-2", 
              "name": "message",
              "value": "Image processed successfully!",
              "type": "string"
            },
            {
              "id": "success-3",
              "name": "health_status",
              "value": "={{ $node['API Health Check'].json.status }}",
              "type": "string"
            },
            {
              "id": "success-4",
              "name": "imagemagick_available",
              "value": "={{ $node['API Health Check'].json.imagemagick_installed }}",
              "type": "boolean"
            },
            {
              "id": "success-5",
              "name": "image_size_bytes",
              "value": "={{ $node['Process Default Image'].binary?.data?.fileSize || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "success-6",
              "name": "content_type",
              "value": "={{ $node['Process Default Image'].binary?.data?.mimeType || 'N/A' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "success-result",
      "name": "Success Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-1",
              "name": "status", 
              "value": "ERROR",
              "type": "string"
            },
            {
              "id": "error-2",
              "name": "error_message",
              "value": "={{ $node['Process Default Image'].json?.error || 'Unknown error occurred' }}",
              "type": "string"
            },
            {
              "id": "error-3",
              "name": "http_code",
              "value": "={{ $node['Process Default Image'].json?.$responseCode || 'N/A' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "error-result",
      "name": "Error Result", 
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 600]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "API Health Check",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Default Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Default Image": {
      "main": [
        [
          {
            "node": "Check If Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Success": {
      "main": [
        [
          {
            "node": "Success Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-03T04:00:00.000Z",
  "updatedAt": "2025-09-03T04:00:00.000Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["imagemagick", "api", "fixed"],
  "triggerCount": 0,
  "versionId": "3"
}
