n8n_imagemagick_workflow_production.json
{
  "name": "ImageMagick API - Production Server (Rotate & Grayscale)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-start",
      "name": "Start Workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://157.180.40.204:5000/health",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "ZWIHZc5e-SWR-XdIPykAZ3K6PncdnwBxa9VlZ9yuZ3M"
            }
          ]
        },
        "options": {}
      },
      "id": "health-check",
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://157.180.40.204:5000/default-images/Capture.PNG",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "ZWIHZc5e-SWR-XdIPykAZ3K6PncdnwBxa9VlZ9yuZ3M"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "load-default-image",
      "name": "Load Default Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://157.180.40.204:5000/process",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "ZWIHZc5e-SWR-XdIPykAZ3K6PncdnwBxa9VlZ9yuZ3M"
            }
          ]
        },
        "sendBody": true,
        "contentType": "formData",
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "rotate"
            },
            {
              "name": "rotation_angle",
              "value": "90"
            },
            {
              "name": "image",
              "value": "",
              "type": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "rotate-image-90",
      "name": "Rotate Image 90°",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://157.180.40.204:5000/process",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "ZWIHZc5e-SWR-XdIPykAZ3K6PncdnwBxa9VlZ9yuZ3M"
            }
          ]
        },
        "sendBody": true,
        "contentType": "formData",
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "rotate"
            },
            {
              "name": "rotation_angle",
              "value": "180"
            },
            {
              "name": "image",
              "value": "",
              "type": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "rotate-image-180",
      "name": "Rotate Image 180°",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://157.180.40.204:5000/process",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "ZWIHZc5e-SWR-XdIPykAZ3K6PncdnwBxa9VlZ9yuZ3M"
            }
          ]
        },
        "sendBody": true,
        "contentType": "formData",
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "grayscale"
            },
            {
              "name": "image",
              "value": "",
              "type": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "grayscale-image",
      "name": "Convert to Grayscale",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 500]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result-1",
              "name": "status",
              "value": "SUCCESS",
              "type": "string"
            },
            {
              "id": "result-2",
              "name": "message",
              "value": "Image operations completed successfully on production server",
              "type": "string"
            },
            {
              "id": "result-3",
              "name": "server_url",
              "value": "http://157.180.40.204:5000",
              "type": "string"
            },
            {
              "id": "result-4",
              "name": "api_health",
              "value": "={{ $('Health Check').item(0).json.status }}",
              "type": "string"
            },
            {
              "id": "result-5",
              "name": "imagemagick_installed",
              "value": "={{ $('Health Check').item(0).json.imagemagick_installed }}",
              "type": "boolean"
            },
            {
              "id": "result-6",
              "name": "rotated_90_size",
              "value": "={{ $('Rotate Image 90°').item(0).binary.data.fileSize }}",
              "type": "number"
            },
            {
              "id": "result-7",
              "name": "rotated_180_size",
              "value": "={{ $('Rotate Image 180°').item(0).binary.data.fileSize }}",
              "type": "number"
            },
            {
              "id": "result-8",
              "name": "grayscale_size",
              "value": "={{ $('Convert to Grayscale').item(0).binary.data.fileSize }}",
              "type": "number"
            },
            {
              "id": "result-9",
              "name": "processing_timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "final-result",
      "name": "Final Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [940, 350]
    }
  ],
  "connections": {
    "Start Workflow": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check": {
      "main": [
        [
          {
            "node": "Load Default Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Default Image": {
      "main": [
        [
          {
            "node": "Rotate Image 90°",
            "type": "main",
            "index": 0
          },
          {
            "node": "Rotate Image 180°",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to Grayscale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotate Image 90°": {
      "main": [
        [
          {
            "node": "Final Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotate Image 180°": {
      "main": [
        [
          {
            "node": "Final Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Grayscale": {
      "main": [
        [
          {
            "node": "Final Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-03T05:00:00.000Z",
  "updatedAt": "2025-09-03T05:00:00.000Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["imagemagick", "production", "ubuntu", "server"],
  "triggerCount": 0,
  "versionId": "production-server"
}
